# Styling

* [Reference: Style](https://pandas.pydata.org/docs/reference/style.html)
* [User Guide: Styling](https://pandas.pydata.org/docs/user_guide/style.html)

## Data

In [1]:
import pandas as pd
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[3, 3] = np.nan
df.iloc[0, 2] = np.nan
df

      A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

## B: Beginner

### B1: 
Can you highlight negative values in red? (as shown below)

![](../../../images/Pandas/style_b1_highlight_negative.png)

In [2]:
def color_negative_red(val):
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

df.style.applymap(color_negative_red)

### B2: 
Can you highlight maxiumum value in the whole DataFrame?

### B3: 
Can you highlight maxiumum value per column? row?

## A: Advanced

### A1: 
Can you highlight columns based on the column name?
Sample color map:

`{'A':'cyan', 'B':'lightblue', 'C':'lightyellow', 'D':'salmon', 'E':'lightgreen'}`

![](../../../images/Pandas/style_a1_color_columns.png)

In [3]:
coldict = {'A':'cyan', 'B':'lightblue', 'C':'lightyellow', 'D':'salmon', 'E':'lightgreen'}

def highlight_cols(s, coldict):
    if s.name in coldict.keys():
        return ['background-color: {}'.format(coldict[s.name])] * len(s)
    return [''] * len(s)

df.style.apply(highlight_cols, coldict=coldict)

### A2: 
Can you color rows which index is divisible to 3 and 5?

## M: Master

In [4]:
df_m = pd.DataFrame({'A': [12,6,8, 15], 'B': [3,4,1, 7]})

### M1
Can you add new column B to A % and style it as follows(bar dependent on value lenght):

Can you change the scale to 100%?

![](../../../images/Pandas/style_m1_styling_bar.png)

In [5]:
df_m['B/A %'] = df_m['B'] / df_m['A'] * 100
df_m.style.bar(subset=["B/A %"], color='#FFA07A')

### M2
Can you add a new column which is sum of both A and B?

Then style it by showing split based on the percent of which value from column A or B as shown below:

![](../../../images/Pandas/style_m1_styling_split_color.png)

In [6]:
def highlight_cols(x):
    df = x.copy()
    
    for i in df.iterrows():
        b = i[1].get('B')
        a = i[1].get('A')
        
        if a != 0:
            grad = b / a * 100
        else:
            grad = 0
        
        df.loc[i[0],['total']] = f'width:  10em; height:  80%; background: linear-gradient(to right, tomato {grad}%, lightblue {grad}%);'
        
    df.iloc[:,0:3] = ''
#     display(df)
    return df    

df_m['total'] = df_m['B'] + df_m['A']
df_m.style.apply(highlight_cols, axis=None)